@charset "UTF-8";


*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
img{
width: 100vw;
}

::-webkit-scrollbar{
width: 0;
height: 0;
}


a{
display: block;
background-color: darkred;
text-align: center;
font-weight: bolder;
text-decoration: none;
color: white;
padding: 20px;
}

a:hover{
background-color: red;
}
